mixin maintext
  .maintext.show-for-large
    .row
      .columns.text-center
        h1 Центр медицинского велнеса
        p Добро пожаловать в центр медицинского велнеса и восстановительной медицины "Флоат Студия", пространство расслабления, оздоровления и отдыха в самом центре Москвы посреди суеты мегаполиса! В стремлении дать Вам самое лучшее, здесь объединились новейшие достижения и технологии современной медицины с многовековым опытом восточных целительских практик. Деятельность центра нацелена на индивидуальный подход в комплексном восстановлении и поддержании здоровья, молодости и красоты.

        p В последнее время все больше и больше людей переходят от лекарств к зарекомендовавшим себя методам целостного оздоровления, среди которых важнейшее место занимают флоатинг-терапия, тибетская медицина и фитотерапия, китайское иглоукалывание, аюрведа, йоготерапия и массажи. Ничего странного в этом нет — как вы сами увидите: минимум противопоказаний, отсутствие аллергии и побочных явлений делают эти методы максимально привлекательными и для лечения, и для профилактики. Не нужно скупать половину аптеки, чтобы избавиться от усталости, снять нервозность и устранить боль. Для этого есть вышеназванные методы, воздействующие на первопричины.

        a(href="#" title="").button.small.black О центре