mixin complex-item-clean
  .complex-item-clean.show-for-large
    .complex-item__content
      .complex-item-clean__choiceWrapper
        .complex-item-clean__choice 
          span Не можете выбрать?
      .complex-item-clean__text Закажите бесплатную консультацию и наши специалисты подберут комплекс процедур специально для Вас!
      a(href="#" title="").button.small.black Заказать консультацию
  