.complex-item {
  position: relative;

  text-align: center;

  color: $black;

  @include breakpoint(large) {
//    margin-bottom: 3rem;
  }
  @include breakpoint(small) {
    margin: 20px auto 0;
  }
  &:hover {
    .complex-item-hidden {
      @include breakpoint(large) {
        position: relative;

        visibility: visible;

        opacity: 1;
      }
    }
    .complex-item__content {
      @include breakpoint(large) {
        position: absolute;
        z-index: 9;

        box-sizing: border-box;

//        border-radius: 192px 192px 32px 32px;
        border-radius: 1rem;
        box-shadow: 0 0 8px rgba($black, .14);
      }
    }
  }
  &__content {
    transition: box-shadow .1s ease-in;

    background-color: $white;

    @include breakpoint(large) {
      padding: 35px;
    }
    @include breakpoint(small) {
      padding: 0;
    }
  }
  &__img {
    @include breakpoint(large) {
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
      padding-left: 0;
    }
    @include breakpoint(small) {
      padding-left: 15px;
    }
    img {
      border-radius: 50%;

      @include breakpoint(large) {
        width: auto;
      }
      @include breakpoint(medium) {
        width: auto;
      }
      @include breakpoint(small) {
        width: 52px;
      }
    }
  }
  &__title {
    display: block;

    text-transform: uppercase;

    font-family: $RalewayBold;

    @include breakpoint(large) {
      width: 90%;
      margin: auto;
      margin-bottom: 1rem;

      text-align: center;
    }
    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: rem-calc(32);
    }
    @include breakpoint(small) {
      text-align: left;
      letter-spacing: .050em;

      font-size: rem-calc(14);
      line-height: rem-calc(20);
    }
  }
  &__text {
    margin-bottom: 1.5rem;

    font-size: rem-calc(14);
    line-height: rem-calc(24);
  }
  &__icons {
    .icon {
      font-size: rem-calc(32);
    }
    .icon-cross {
      position: relative;
      top: 8px;

      margin: 0 10px;

      color: rgba(#3d3d3d, .38);

      font-size: rem-calc(12);
    }
  }
}

.complex-item-hidden {
  position: absolute;

  visibility: hidden;

//  transition: all .4s ease-in-out;

  opacity: 0;
}

.complex-item-list {
  margin-top: 15px;
  margin-bottom: 1.5rem;
  &__item {
    padding-left: 10px;

    text-align: left;

    font-family: $RalewayBold;
    font-size: .75rem;
    line-height: rem-calc(28);
    .icon {
      margin-right: 10px;

      color: $blue;

      font-size: rem-calc(12);
    }
  }
}
