mixin footer(data)
  footer.footer
    .row.full.align-center
      .columns.large-10
        .row.align-middle
          .columns
            .footer-copyright.show-for-medium © 2016 FloatingStudio
            .footer-social
              a(href="#" title="").footer-social__item
                i.icon.icon-instagram
              a(href="#" title="").footer-social__item
                i.icon.icon-google-plus
              a(href="#" title="").footer-social__item
                i.icon.icon-facebook
          .columns.shrink.show-for-medium
            .footer-logo
          .columns.text-right.show-for-medium
            .footer-contacts
              .footer-contacts__phone +7 499 110 52 10
              .footer-contacts__address 
                span Москва, Б. Татарская д. 7 
                span (3 мин. от метро Новокузнецкая) 
                span Пн — Вс с 10:00 до 22:00