.footer {
  padding: 1rem 0;
}

.footer-copyright {
  font-size: rem-calc(14);
}

.footer-social {
  margin-top: 20px;
  transition: .3s;

  @include breakpoint(medium) {
    text-align: left;
  }
  @include breakpoint(small) {
    text-align: center;
  }
  &__item {
    display: inline-block;

    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 15px;

    text-align: center;
    vertical-align: middle;

    color: #3d3d3d;
    border: 1px solid;
    border-radius: 50%;

    line-height: 53px;
    &:nth-child(1) {
      font-size: rem-calc(22);
    }
    &:nth-child(2) {
      font-size: rem-calc(29);
      line-height: 56px;
    }
    &:nth-child(3) {
      margin-right: 0;

      font-size: rem-calc(25);
    }
    &:hover {
      color: $blue;
    }
  }
}

.footer-logo {
  @include bg($logo);
}

.footer-contacts {
  &__phone {
    margin-bottom: 10px;

    font-family: "Open Sans", sans-serif;
    font-size: rem-calc(24);
  }
  &__address {
    letter-spacing: .025em;

    font-size: rem-calc(14);
    line-height: rem-calc(22);
    span {
      display: block;
    }
  }
}
