.source-life-mobile {
  margin-top: 20px;
  &__underground {
    .icon {
      position: relative;
      top: 7px;

      margin-right: 10px;

      font-size: rem-calc(22);
    }
    span {
      letter-spacing: .075em;
      text-transform: uppercase;

      font-size: rem-calc(12);
    }
  }
  &__circle {
    margin: 25px auto 10px;

    @include bg-svg($source-life-mobile);
  }
  &__text {
    padding: 0 20px 65px;

    letter-spacing: .025em;

    font-size: rem-calc(12);
    line-height: rem-calc(24);
    p {
      margin-bottom: 20px;
    }
  }
}


.source-life-mobile-icons {
  margin-top: 40px;
  &__item {
    .icon {
      display: block;

      box-sizing: border-box;
      width: 64px;
      height: 64px;
      margin: auto;
      padding-top: 13px;

      color: $white;
      border-radius: 50%;

      font-size: rem-calc(32);
    }
    &--relax {
      .icon {
        background-color: #00bff4;
      }
    }
    &--beauty {
      .icon {
        padding-top: 14px;

        background-color: #cadd00;
      }
      span {
        padding: 0 10px;
      }
    }
    &--recovery {
      .icon {
        background-color: #fba600;
      }
    }
    &--psychology {
      .icon {
        background-color: #ae8de2;
      }
    }
    span {
      display: block;

      padding-top: 10px;
      padding-bottom: 25px;

      letter-spacing: .050em;
      text-transform: uppercase;

      color: $black;

      font-family: $RalewayBold;
      font-size: rem-calc(10);
      line-height: rem-calc(14);
    }
  }
  &__text {
    padding: 30px 30px 0;

    letter-spacing: .025em;

    font-size: rem-calc(12);
    line-height: rem-calc(24);
    p {
      margin-bottom: 20px;
    }
  }
}
