mixin source-life-mobile
  .source-life-mobile.hide-for-large.text-center
    .source-life-mobile__underground
      i.icon.icon-metro
      span на Новокузнецкой

    .source-life-mobile__circle

    .source-life-mobile__text
      p Добро пожаловать в центр медицинского велнеса и восстановительной медицины "Флоат Студия", пространство расслабления, оздоровления и отдыха в самом центре Москвы посреди суеты мегаполиса!
      a(href="#" title="").button.small.black Записаться

    .title Источник для жизни
    .subtitle в сердце мегаполиса

    .source-life-mobile-icons.text-center
      .row
        .columns
          .source-life-mobile-icons__item.source-life-mobile-icons__item--relax
            i.icon.icon-list
            span Релаксация и Восстановление
        .columns
          .source-life-mobile-icons__item.source-life-mobile-icons__item--beauty
            i.icon.icon-flower
            span Натуральная красота
      .row
        .columns
          .source-life-mobile-icons__item.source-life-mobile-icons__item--recovery
            i.icon.icon-heart
            span Комплексное оздоровление
        .columns
          .source-life-mobile-icons__item.source-life-mobile-icons__item--psychology
            i.icon.icon-stones
            span Психология равновесия
      
      .source-life-mobile-icons__text
        p В последнее время все больше и больше людей переходят от лекарств к зарекомендовавшим себя методам целостного оздоровления, среди которых важнейшее место занимают флоатинг-терапия, тибетская медицина и фитотерапия, китайское иглоукалывание, аюрведа, йоготерапия и массажи.