mixin popup-menu
  .popup-menu
    .popup-menu__close(id="popupMenuTriggerClose")
      i.icon-cross
    .popup-menu-logo
      .popup-menu-logo__image
    .popup-menu-wrapper
      .popup-menu__list
        .row.align-stretch
          .columns
            .popup-menu__block
              a(href="#" title="").popup-menu__top О центре
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Галерея
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Пресса о нас
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Отзывы
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Блог

            .popup-menu__block
              a(href="#" title="").popup-menu__top Направления
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Натуральная красота
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Релаксация и восстановление
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Комплексное оздоровление
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span психология равновесия
          
          .columns
            .popup-menu__block
              a(href="#" title="").popup-menu__top Специалисты

            .popup-menu__block
              a(href="#" title="").popup-menu__top Комплексные решения
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Отдых и восстановление
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Красота и омоложение
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Восстановительная медицина
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span здоровая беременность
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Психология и коучинг
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Питание и детокс
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Впечатления и подарки
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span мероприятия и праздник

          .columns
            .popup-menu__block
              a(href="#" title="").popup-menu__top Услуги
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Флоатинг
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Массаж
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Красота и натуральное омоложение
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Иглоукалывание и рефлексотерапия
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Тибетская медицина и фитотерапия
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Телесно-ориентированные и энергетические методы
              a(href="#" title="").popup-menu__link 
                i.icon.icon-circle 
                span Психологические методы

             .popup-menu__block
              a(href="#" title="").popup-menu__top Купить