mixin last-news
  .last-news
    .row
      .columns.columns-mobile.small-12.large-6
        .last-news-left
          .last-news-left-item
            .last-news-left-item-layer
            a(href="#" title="").button.small.white смотреть видео
            img(src='__static__images/assets/last-news/floatnews.jpg')
      .columns.small-12.large-6
        .last-news-right
          .last-news__title Новости
          .last-news-list
            .last-news-list-item
              .last-news-list-item__date 17 мая 2016
              a(href="#" title="").last-news-list-item__link Как справиться с весенним поллинозом (хронической аллергией)
              .last-news-list-item__text.show-for-large В последнее время все больше и больше людей переходят от лекарств к зарекомендовавшим себя...
            .last-news-list-item
              .last-news-list-item__date 23 мая 2016
              a(href="#" title="").last-news-list-item__link А вы хотите побывать ребенком в утробе вселенной?
              .last-news-list-item__text.show-for-large Помимо радостного ожидания материнства на плечи беременной женщины ложится огромная...
            .last-news-list-item
              .last-news-list-item__date 17 мая 2016
              a(href="#" title="").last-news-list-item__link Как справиться с весенним поллинозом (хронической аллергией)
              .last-news-list-item__text.show-for-large В последнее время все больше и больше людей переходят от лекарств к зарекомендовавшим себя...
            .last-news-list-item
              .last-news-list-item__date 23 мая 2016
              a(href="#" title="").last-news-list-item__link А вы хотите побывать ребенком в утробе вселенной?
              .last-news-list-item__text.show-for-large Помимо радостного ожидания материнства на плечи беременной женщины ложится огромная...
          a(href="#" title="").button.small.black.show-for-large все новости
          a(href="#" title="").button.tiny.black.hide-for-large все новости