mixin complex
  .complex
    .row
      .columns
        .title Комплексные решения
        .subtitle специально для Вас

        .text.show-for-large
          p Мы придерживаемся холистической концепции medical wellness и предлагаем комплексные оздоровительные программы для активного омоложения организма (Anti-Aging), здоровой беременности, восстановления после травм, лечения позвоночника и коррекции осанки, снятия боли, а также для повышения творческого и интеллектуального потенциала.

    .row
      .columns.small-12.large-4
        +complex-item('Отдых и восстановление', '__static__images/assets/complex/programm1.jpg')
      .columns.small-12.large-4
        +complex-item('Красота и омоложение', '__static__images/assets/complex/programm2.jpg')
      .columns.small-12.large-4
        +complex-item('Восстановительная медицина', '__static__images/assets/complex/programm3.jpg')

    .row
      .columns.small-12.large-4
        +complex-item('Здоровая беременность', '__static__images/assets/complex/programm4.jpg')
      .columns.small-12.large-4
        +complex-item('Психология и коучинг', '__static__images/assets/complex/programm5.jpg')
      .columns.small-12.large-4
        +complex-item('Питание и <br>детокс', '__static__images/assets/complex/programm6.jpg')

    .row
      .columns.small-12.large-4
        +complex-item('Впечатления и подарки', '__static__images/assets/complex/programm7.jpg')
      .columns.small-12.large-4
        +complex-item('Мероприятия и прздники', '__static__images/assets/complex/programm8.jpg')
      .columns.small-12.large-4
        +complex-item-clean