mixin specialist
  .specialist
    .row
      .columns
        .title Специалисты
        .subtitle нашего центра

        .text.show-for-large
          p Небольшое описание к разделу в несколько строк о том какая прекрасная команда профессионалов работает в центре. Небольшое описание к разделу в несколько строк о том какая прекрасная команда профессионалов работает в центре.

      .specialist-list
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src='__static__images/assets/specialist/team1.jpg')
            .specialist-list-item__name Владимир котенев
            .specialist-list-item__profession Учредитель
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src='__static__images/assets/specialist/team2.jpg')
            .specialist-list-item__name Мария Вериго
            .specialist-list-item__profession Управляющий директор
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src='__static__images/assets/specialist/team3.jpg')
            .specialist-list-item__name Ольга Николаевна Иванова
            .specialist-list-item__profession Главный врач
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src='__static__images/assets/specialist/team4.jpg')
            .specialist-list-item__name Нина николаевна Филиппова
            .specialist-list-item__profession Врач рефлексотерапии
     
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src='__static__images/assets/specialist/team1.jpg')
            .specialist-list-item__name Владимир котенев
            .specialist-list-item__profession Учредитель
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src="http://placehold.it/450x450&text=image")
            .specialist-list-item__name Мария Вериго
            .specialist-list-item__profession Управляющий директор
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src="http://placehold.it/450x450&text=image")
            .specialist-list-item__name Ольга Николаевна Иванова
            .specialist-list-item__profession Главный врач
      
        a(href="#" title="")
          .specialist-list-item
            .specialist-list-item__image
              img(src="http://placehold.it/450x450&text=image")
            .specialist-list-item__name Нина николаевна Филиппова
            .specialist-list-item__profession Врач рефлексотерапии

    a(href="#" title="").button.small.show-for-medium записаться на прием
    a(href="#" title="").button.tiny.black.show-for-small-only Все Специалисты