mixin floating
  .floating.show-for-large
    .row
      .columns
        .floating__title
          img(src="%=static=%images/content/floating.png" alt="")
          span *Флоатинг
        .floating__text
          p Флоатинг – это уникальный терапевтический метод достижения глубинной релаксации в специальной флоат-комнате. Процедура проходит в бассейне с солевым раствором, который позволяет телу «парить» на поверхности. Температура в бассейне составляет около 35 градусов, что вместе с режимом тишины и темноты позволяет полностью отключить внешние раздражители и погрузиться в состояние, которое воспринимается как невесомость.

          a(href="#" title="").button.small.black узнать об услуге

      .columns
        .floating__image
          img(src="%=static=%images/content/floating.jpg" alt="")